h1
{
	font-weight:lighter;
	text-align:center;
	margin-top:10px;
}

body
{
	font-family:"Segoe UI";
}

textarea
{
	 resize:none;
}

#all
{
	width:1000px;
	height:auto;
	overflow:hidden;
	background-color:ghostwhite;
	align:center;
	margin: 0 auto;
}

button
{
	width:auto;
	height:auto;
	padding:2px;
	border-color:black;
	background-color:#eee;
	font-family:"Segoe UI";
	font-size:15px;
	text-color:black;
	border-radius:5px;
}
