@CHARSET "UTF-8";

div.items p:not(:target)
{
	display: none;
}

div.items p:target 
{
	display: block;
}

a.tab ,a:hover.tab ,a:active.tab
{
 width:200px;
 height:50px;
 text-decoration:none;
 border-style:solid;
 border-color:brown;
 border-width:medium;
 padding:10px;
}

a
{
	color:black;
	text-decoration:none;
}

.eventname , .eventname:active , .eventname:hover , .eventname:link
{
	text-decoration:none;
}

.eventname:hover
{
	color:green;
}

.username
{
	color:black;
}

.username:hover
{
	color:#900;
}

.oneevent
{
	border-weight:lighter;
	padding-top:2px;
	padding-bottom:3px;	
	padding-left:5px;
	height:120px;	
	border-width:1px;
 	border-style:solid;
 	border-color:#ccc;
 	border-radius:3px;
 	margin-bottom:2px;
 	margin-top:1px;
}

.oneevent:hover
{
	background-color:#eee;
}

.oneevent:hover .eventcontrols
{
	display:block;
}

.eventdetails
{
	width:750px;
	float:left;
	height:auto;
	margin:0 auto;
}

.eventcontrols
{
	width:230px;
	float:right;
	vertical-align:center;
	padding-top:20px;
	height:auto;
	padding-right:10px;
	display:none;
}



.dates
{
	float:right;
	padding-top:30px;	
}

.details
{
	float:left;
}

.Register
{	
	padding-right:10px;
	float:right;
	border-type:solid;
}

.Unregister : hover
{
	background-color:red;
}

.statuslist
{
	margin-left:60px;
	margin-top:15px;
	padding-top:2px;
	padding-bottom:3px;
	font-size:10px;
}
