@CHARSET "UTF-8";

table
{
	width:600px;
	margin:0 auto;
}

td
{
	padding-top:10px;
	padding-bottom:10px;
	
}

.eventname:hover
{
	color:green;
}

.eventname
{
	color:brown;
	font-size:20px;
}


#maintable
{
	border: 2px solid #eee;
	border-radius:4px;
}

.onevalue
{
	border: 1px dotted #ddd;
}


#participated, #created
{
	border-style:solid;
	border-color:#eee;
}

#participated th,td
{
	width:200px;
}

#created th,td
{
	width:200px;
	border-radius:2px;
}
