@CHARSET "UTF-8";

table
{
	width:500px;
	margin:0 auto;
}

td
{
	padding-top:10px;
	padding-bottom:10px;
}

.eventname:hover
{
	color:green;
}

.eventname
{
	color:brown;
	font-size:20px;
}

#maintable
{
	border: 2px solid #eee;
	border-radius:4px;
	width:auto;
}

.onevalue
{
	border: 1px dotted #ddd;
}

#participated, #created
{
	border-style:solid;
	border-color:#eee;
}

#participated th,td
{
	width:200px;
	border-color:#ccc;
}

#created th,td
{
	width:200px;
	border-radius:2px;
}

.eventrow
{
	border: 2px solid black;
}

.l
{
	width:200px;
}

.r
{
	display:none;
}

.eventrow:hover
{
	background-color:#eee;
}

.eventrow:hover .r
{
	display:block;
}



